<div class="d-flex justify-content-end mb-3">
    <button (click)="openDialog()" mat-button color="primary">
        Inscribir Estudiante
    </button>
</div>
<table mat-table [dataSource]="students" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
        <th appFontSize mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName }} </td>
    </ng-container>

    <!-- Last Name Column-->
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef > Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Full Name Column -->
    <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName | nameTransform: element.lastName}} </td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Edad </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <!-- e-Mail Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Fecha creacion Column -->
    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Fecha creacion </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date }} </td>
    </ng-container>

    <!-- Fecha creacion Column -->
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <!-- Acciones Administrativas Column -->
    <ng-container matColumnDef="manage">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button (click)="openDialog(element)" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>
            <!-- <button *ngIf="roleSession == 'ADMIN'"  -->
            <button (click)="onDeleteStudent(element.id)" mat-icon-button color="warn">
                <mat-icon>person_remove</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>